<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixel Painter with Vue.js</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div id="app">
    <h1>{{ title }}</h1>

    <div id="color-palette">
      <swatch
        v-for="color in colorsAvailable"
        :color="color"
      >
      </swatch>
    </div>

    <div class="row" v-for="p of 16">
      <div class="grid" v-for="p of 16">
        <pixel></pixel>
      </div>
    </div>
  </div>

  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>